[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
symbolic-links=0
max_connections = 1000
max_heap_table_size = 64M
read_buffer_size = 64M
read_rnd_buffer_size = 64M
sort_buffer_size = 64M
join_buffer_size = 64M
query_cache_size = 256M
query_cache_limit = 128M
thread_stack = 192K
transaction_isolation = READ-COMMITTED
tmp_table_size = 128M


innodb_additional_mem_pool_size = 128M
innodb_buffer_pool_size = 1G
innodb_file_per_table = 1
innodb_thread_concurrency = 4


