[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0

open_files_limit=3072
query_cache_size=256M
max_connections=1000
max_user_connections=25
wait_timeout=10
max_heap_table_size=119M
thread_cache_size=64
key_buffer_size=32M
max_allowed_packet=16M
table_definition_cache=3072
interactive_timeout = 10
query_cache_limit = 128M
table_cache = 2048
max_heap_table_size = 128M
query_cache_type = 1
tmp_table_size = 128M
thread_stack = 256k
read_buffer_size = 64M
join_buffer_size = 64M
sort_buffer_size = 64M
myisam_sort_buffer_size=2M  
collation_server=utf8_unicode_ci
character_set_server=utf8
slow_query_log=1
log-output=TABLE  
long_query_time=5  
long_query_time = 2
slow_query_log_file = /var/lib/mysql/mysql-slow.log

innodb_file_per_table=1
innodb_flush_method=O_DIRECT
innodb_buffer_pool_size=1G
innodb_additional_mem_pool_size=128M
innodb_log_buffer_size=2.5G

innodb_thread_concurrency=4
# Number of physical + virtual CPU's, preset when server is provisioned to have correct # of cores

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
 
